:root {
  --color-black: #000;
  --color-white: #fff;
  --color-orange: #F94E30;
  --color-light-orange: #FF6433;
  --color-light-gray: #F2F2F2;
  --color-light: #F4F4F4;
  --color-whitesmoke: #F5F5F5;
  --color-dark: #212529;
  --color-danger: #DC3545;
  --color-gray: #DDDDDD;
  --transition-ease: all 300ms ease-in-out;
}

.following-main {
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255) !important;
  height: 100%;
  overflow-y: scroll;
  width: 100%;
  direction: rtl;
}

.following-main::-webkit-scrollbar {
  display: none;
}

.following-main .vendor-details {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.following-main .vendor-details a {
  padding: 10px;
  border: 1px solid var(--color-gray);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: var(--transition-ease);
  -webkit-transition: var(--transition-ease);
  -moz-transition: var(--transition-ease);
  -ms-transition: var(--transition-ease);
  -o-transition: var(--transition-ease);
}

.following-main .vendor-details a:hover {
  background-color: var(--color-light-gray);
}

@media (min-width:768px) {

  .following-main .vendor-details {
    width: 50%;
  }
}